.project-title
{
  position: absolute;
  top: 20px;
  right: 45px;
  background-color: $darkGrey;
  //padding: 0 10px;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  @extend .flex-center;
  text-align: center;
}
.read-more
{
  cursor: pointer;
  &:hover
  {
    text-decoration: underline;
  }
}
.white-overlay
{
  z-index: 9994;
  width: 100%;
//  height: 100%;
  > div
  {
    width: 90%;
    margin: 0 auto;
  }
}
.close-overlay
{
//  text-decoration: underline;
  display: inline-block;
  cursor: pointer;
  transition: all 0.3s ease;
  &:hover
  {
    padding: 10px;

    background-color: $darkGrey;
    color: white;
  }

}


@media(min-width: 1px) and (max-width: $mobile-large-break)
{
  .project-title
  {
    display: none;
  }

  .white-overlay
  {
    display: block !important;
    height: auto;
    > div
    {
      padding: 20px 0;
    }
  }
  .close-overlay
  {
    display: none;
  }
}
@media(min-width: $mobile-large-break+1)
{
  .white-overlay
  {
    background-color: $transWhite;
    display: none;
  //  height: 100%;
    position: absolute;
    top: 0;
    > div
    {
      padding-top: 120px;
      max-width: 640px;
    }
  }


}
