$red: #D64541;
$blue: #4183D7;
$green: #26A65B;
$purple: #663399;
$darkGrey: #363636;
$transGrey: rgba(0,0,0,0.6);
$transWhite: rgba(255,255,255,0.95);

$mobile-small-break: 320px;
$mobile-large-break: 767px;
$tablet-break: 1024px;


$ms-gtr-min-h: 200px;
$ms-gtr: 1px;

$ml-gtr-min-h: 300px;
$ml-gtr: 3px;

$tab-gtr-min-h: 320px;
$tab-gtr: 4px;

$desk-gtr-min-h: 400px;
$desk-gtr: 6px;
